:root {
    --first-color: #012a4a;
    --second-color: #013a63;
    --third-color: #014f8c;
    --forth-color: #20a6ff;
    --fifth-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serife';
}
body{
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    background:  var(--first-color);
}
.line{
    background-color: var(--fifth-color);
    width: 3px;
    position: absolute;
    height: 500px;
    margin: 500px;
    padding: 1px;
    right: 200px;
}

.temas {
    position: relative;
    flex-direction: row;
    padding: 5px 3px 1px 3px;
}

.temas button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: double;
    background-color: var(--third-color);
    color: var(--fifth-color);
    border-color: var(--first-color);
    border-radius: 10px;
    cursor: pointer;
}

.navigation{
    position: relative;
    height: 750px;
    background: var(--second-color);
    width: 100px;
    box-shadow: 10px 0 0 var(--third-color);
    border-left: 10x solid  var(--second-color);
    overflow: hidden;
    transition: 0.5s;

}
.navigation:hover{
    width: 280px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 40px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--fifth-color);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}
.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
.navigation ul li.active{
    background: var(--third-color);
}
.navigation ul li.active a::before{
    content: '';
    position:absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--third-color);
}
.navigation ul li.active a::after{
    content: '';
    position:absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--third-color);
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 5s;
}
.slide img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid var(--fifth-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 5s;
}
.manual-btn:not(:last-child){
    margin-right: 40px ;
}
.manual-btn:hover{
  background-color: var(--fifth-color);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid var(--forth-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 5s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--fifth-color);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--fifth-color);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--fifth-color);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--fifth-color);
}
footer{
    position: absolute;
    bottom: 0;
    left: 110px;
    right: 0;
    background: var(--second-color);
    height: 0;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color:var(--fifth-color);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10 px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color: var(--fifth-color);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: var(--forth-color);
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}